body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/Poppins-Regular.ttf");
    font-weight: regular;
    font-style: regular;
}

//fuentes
$fuente-base: "Poppins";

//colores
$body: #212121;
$color-nav: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6474964985994398) 100%);;
$color-base: #1d1d1d;
$blanco-opaco: #dddddd;
$blanco: #fff;

//weights
$regular: 400;
$semibold: 500;
$bold: 600;
$extrabold: 800;

//Tamaños de fuentes
$S: 0.7rem;
$XS: 1rem;
$M: 1.25rem;
$XM: 1.5rem;
$L: 1.75rem;
$XL: 2rem;
$XXL: 2.25rem;

$header-height: 4rem;

h1,
h2,
h3,
h4,
h5,
p,
a,
b,
i {
    color: $blanco;
    font-weight: $semibold;
}
body {
    background: $body;
}

.font18 {
    font-family: $fuente-base;
    font-size: 16px;
}
