@import "../../public/style/base.css";

.ticket-container {
    display: flex;
    justify-content: center;
 
}


.ticket {
    background-color: var(--color-ticket);
    margin-bottom: 2rem;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 208px;
    width: 420px;
    max-height: 1033px;
    min-height: 1033px; 
   

}

.ticket>h3, .ticket>h1, .ticket>p {
    color: var(--color-base);
    text-align: center;
}

.ticket>h1 {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

.ticket>p {
    width: 95%;
    margin-top: 2rem;
}

.ticket-logo {
    color: var(--color-base);
}

.ticket-qr {
    width: 280px;

}

.btn-descarga-ticket button {
    margin-bottom: -30px;
    border-radius: 10px;
    width: 260px;
}

.volver-inicio-ticket {
    margin-bottom: 4rem;
}

.volver-inicio-ticket button {
    background-color: transparent;
    border: 1px solid #232323;
    color: #232323;
    width: 170px;
}