@import "../../public/style/base.scss";

.nav {
    font-family: $fuente-base;
    top: 0;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    filter: drop-shadow(0px 6px 10px rgba(10, 10, 10, 0.25));
    @media (min-width: 1100px) {
        justify-content: flex-start;
    }
    &:hover {
        background: $color-nav;
    }
}
.nav-position {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;

}
.nav-change-color {
    background-color: $color-nav;
    transition: all 0.5s;
}

.logo {
    margin-left: 10px;
    font-weight: $bold;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-right: 20px;
    @media (min-width: 1100px) {
        display: none;
    }
    z-index: 1;
}

.menu-btn__burger {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-7px);
}
.menu-btn__burger::after {
    transform: translateY(7px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.nav__ul {
    list-style: none;
    position: fixed;
    width: 80%;
    top: 0;
    display: none;
    height: 100vh;
    right: -100%;
    background-color:$color-base;

    transition: all .8s;
    @media (min-width: 1100px) {
        display:flex;
        position: relative;
        padding-left: 0rem;
        max-width: 500px;
        width: 100%;
        top: 0;
        right: 0;
        flex-direction: row;
        background-color: transparent;
        align-items: center;
        justify-content: space-around;
        
        .is-active::after {
            content: "";
            position: absolute;
            background-color: #ffffff;
            left: -15%;
            bottom: -10px;
            width: 130%;
            height: 3px;
            transition: all 1s;
            border-radius: 4px;
        }
    }
    & > li {
        transition: all 1s;
        position: relative;
        cursor: pointer;
        color: $blanco-opaco;
        height: fit-content;
    }
}

.active{
    right: 0;
    display: block;
    animation-name: navTransition;
    animation-duration: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4rem;
    & > li {
        margin-left: 2rem;
    }
}

@keyframes navTransition{
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}


.logo-nav {
    position: absolute;
    width: 230px;
    height: 190px;
    left: -32px;
    top: 0px;
    max-height: 95px;
    overflow: hidden;
    @media (min-width: 1100px) {
        display: none;
    }
}
