@import "../../public/style/base.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



//fuentes
$fuente-base: 'Poppins', sans-serif;

//colores
$color-nav: #152D54;
$color-base: #0A1931;
$blanco-opaco: #DDDDDD;
$blanco: #fff;

//weights
$regular: 400;
$semibold: 500;
$bold: 600;
$extrabold: 800;


//Tamaños de fuentes
$S: .7rem;
$XS: 1rem;
$M: 1.25rem;
$XM: 1.5rem;
$L: 1.75rem;
$XL: 2rem;
$XXL: 2.25rem;

$header-height: 4rem;


h1,
h2,
h3,
h4,
h5,
p,
a,
b,
i{
    color: $blanco;
    font-weight: $semibold;
}

.nav{
   font-family: $fuente-base;
   height: $header-height;
   background-color: $color-base; 
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-change-color{
    background-color: $color-nav;
    transition: all .5s;
    
}

.logo{
    margin-left: 10px;
    font-weight: $bold;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-right: 10px;
}

.menu-btn__burger {
    width: 22px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before{
    transform: translateY(-7px)
}
.menu-btn__burger::after{
    transform: translateY(7px)
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }


.nav__ul{
    list-style: none;
    position: fixed;
    background-color: $color-nav;
    width: 80%;    
    top: $header-height;
    height: 100%;
    right: -100%;
    display: flex;
    flex-direction: column;
    transition: all 0.4s;
}

.active{
    right: 0;
}

.nav__ul-li{
    color: $blanco-opaco;
    font-weight: $bold;
    margin: 4rem;
    font-size: $XS;
}