@import "../../public/style/base.scss";


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    min-height: 380px;
    padding: 2rem;
    background-color: $color-footer;
    flex-direction: row;
    flex-wrap:wrap;
    box-shadow: 0px -6px 25px 0px #0E0E0E4A;
    & > ul {
        padding: 1rem;
    }
    @media  screen and (min-width: 521px) {
        justify-content: space-around;
    }
}
 
.footer__ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
    list-style:none;

    & > li{
        font-size: 14px;
        font-weight: $light;
        color: $blanco-opaco;
    }

    & a{
        font-size: 14px;
        font-weight: $light;
        color: $blanco-opaco;
        text-decoration:none;
    }

    & > .footer__ul-title{
        color: $blanco;
        font-weight: $regular;
        font-size: 18px;
    }
    
}



.copyright {
    font-size: 10px;
}


